/* purgecss start ignore */

@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
body {
    overflow-x: hidden;
}

.rotate-4 {
    transform: rotate(4deg);
}

.-rotate-7 {
    transform: rotate(-7deg);
}

.bg-grad-red {
    background: linear-gradient(180deg, rgba(234, 53, 129, 0) 7.29%, rgba(238, 53, 53, 0.17) 100%);
}